@font-face {
  font-family: 'Orbitron';
  src: url('/Assets/Fonts/Orbitron-Bold.ttf');
}

body {
    background: black;
}

img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.start-txt {
    font-family: Orbitron;
    color: #C0C0C0;
    text-shadow: 
    0 0 5px #FFFFFF
    0 0 10px #C0C0C0;
    font-size: 18px;
    position: absolute;
    left: 10%;
    bottom: 40%;
}